<app-header></app-header>
<section class="section_container popular_container">
    <h2 class="section_header">Hoteis Populares</h2>
    <div class="popular_grid">
        <div class="popular_card">
            <img src="../../assets/1.png" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Hotel Plaza</h4>
                    <h4>R$4990</h4>
                </div>
                <p>Nova York City</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/2.png" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Ritz Paris</h4>
                    <h4>R$5490</h4>
                </div>
                <p>Paris, França</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/3.png" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>The Peninsula</h4>
                    <h4>R$5990</h4>
                </div>
                <p>Hong Kong</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/4.png" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Hotel Plaza</h4>
                    <h4>R$4490</h4>
                </div>
                <p>Dubai</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/5.png" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>The Ritz-Carlton</h4>
                    <h4>R$6990</h4>
                </div>
                <p>Tokyo</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/6.png" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Marina Bay Sands</h4>
                    <h4>R$5405</h4>
                </div>
                <p>Singapore</p>
            </div>
        </div>
    </div>
</section>

<section class="client">
    <div class="section_container client_container">
        <h2 class="section_header">Clientes</h2>
        <div class="client_grid">
            <div class="client_card">
                <img src="../../assets/client-1.jpg" alt="client" />
                <p>
                    No Bonjour Hotel, minha estadia foi verdadeiramente encantadora. Do lobby elegante aos quartos
                    impecáveis, a atmosfera acolhedora envolveu-me. O restaurante refinado tornou cada refeição
                    memorável. A equipe atenciosa elevou a experiência a um nível extraordinário.
                </p>
            </div>
            <div class="client_card">
                <img src="../../assets/client-2.jpg" alt="client" />
                <p>
                    No Bonjour Hotel, o charme e a elegância marcaram minha estadia. A localização central facilitou a
                    exploração. Os quartos meticulosamente decorados ofereceram conforto. O spa proporcionou uma pausa
                    relaxante. A atenção aos detalhes e a equipe dedicada fazem do Bonjour Hotel uma escolha
                    incomparável.
                </p>
            </div>
            <div class="client_card">
                <img src="../../assets/client-3.jpg" alt="client" />
                <p>
                    Celebrar nosso casamento no Bonjour Hotel foi entrar em um conto de fadas. O salão elegantemente
                    decorado proporcionou o cenário perfeito. Os quartos para os convidados refletiram qualidade e
                    conforto. O Bonjour Hotel não apenas nos forneceu um local para casar, mas também criou memórias
                    preciosas que iremos estimar para sempre.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section_container">
    <div class="reward_container">
        <p>100+ códigos de desconto</p>
        <h4>Disponiveis para melhor experiência da sua vida</h4>
        <button class="reward_btn">Juntar às recompensas</button>
    </div>
</section>