<app-header></app-header>
<section class="section_container popular_container">
    <h2 class="section_header">Hoteis Populares</h2>
    <div class="popular_grid">
        <div class="popular_card">
            <img src="../../assets/hotel-1.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Hotel Plaza</h4>
                    <h4>$499</h4>
                </div>
                <p>New York City, USA</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-2.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Ritz Paris</h4>
                    <h4>$549</h4>
                </div>
                <p>Paris, France</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-3.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>The Peninsula</h4>
                    <h4>$599</h4>
                </div>
                <p>Hong Kong</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-4.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Hotel Plaza</h4>
                    <h4>$449</h4>
                </div>
                <p>Dubai, United Arab Emirates</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-5.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>The Ritz-Carlton</h4>
                    <h4>$699</h4>
                </div>
                <p>Tokyo, Japan</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-6.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Marina Bay Sands</h4>
                    <h4>$545</h4>
                </div>
                <p>Singapore</p>
            </div>
        </div>
    </div>
</section>

<section class="client">
    <div class="section_container client_container">
        <h2 class="section_header">What our client say</h2>
        <div class="client_grid">
            <div class="client_card">
                <img src="../../assets/client-1.jpg" alt="client" />
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Ipsum vero qui distinctio ea velit aspernatur atque quibusdam? Similique vero sequi repudiandae. Ab
                    ut a vero. Tempora vero in dignissimos ut?
                </p>
            </div>
            <div class="client_card">
                <img src="../../assets/client-2.jpg" alt="client" />
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Ipsum vero qui distinctio ea velit aspernatur atque quibusdam? Similique vero sequi repudiandae. Ab
                    ut a vero. Tempora vero in dignissimos ut?
                </p>
            </div>
            <div class="client_card">
                <img src="../../assets/client-3.jpg" alt="client" />
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Ipsum vero qui distinctio ea velit aspernatur atque quibusdam? Similique vero sequi repudiandae. Ab
                    ut a vero. Tempora vero in dignissimos ut?
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section_container">
    <div class="reward_container">
        <p>100+ códigos de desconto</p>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
        <button class="reward_btn">Juntar às recompensas</button>
    </div>
</section>