<footer class="footer">
    <div class="section_container footer_container">
        <div class="footer_col">
            <h3>Jhennyf</h3>
        
        </div>
        <div class="footer_col">
            <h4>Companhia</h4>
            <p>sobre nós</p>
            <p>Nosso Time</p>
            <p>Blog</p>
            <p>Contato</p>
        </div>
        
        <div class="footer_col">
          
        </div>
    </div>
    <div class="footer_bar">
        Copyrigth &copy; 2023 Jhennyf Lima Design Mastery. Todos os direitos reservados.
    </div>
</footer>